<div class="row justify-content-center">
  <% obj.each do |article| %>

    <div class="col-8">
      <div class="card bg-light mb-3">
        <h4 class="card-header"><%= link_to article.title, article_path(article) %></h4>
        <div class="card-body">
          <%= truncate(article.description, length: 100) %>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">
            Created by: <%= article.user.username if article.user %>,
            <%= time_ago_in_words(article.created_at) %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </small>
          <% if article.categories.any? %>
            <p class="mb-0 mt-3">Categories: <%= render article.categories %></p>
          <% end %>
        </div>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="card-footer">
            <%= link_to 'Edit this article', edit_article_path(article), class: 'btn btn-sm btn-primary' %>
            <%= button_to 'Delete this article', article_path(article),
                                                  method: :delete,
                                                  data: { confirm: 'Are you sure you want to delete the article?' },
                                                  form_class: 'd-inline-block',
                                                  class: 'btn btn-sm btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
